html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: lightblue;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	margin-left: 10px;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

#news {
	float: right;
	width: 45%;
	margin-right: 2%
}

.card {
	text-align: center;
	box-sizing: content-box;
	display: inline-block;
}

#brand {
	float: left;
	width: 50%;
	display: inline-block;
	margin-left: 3%;
}

#brand img {
	object-fit: cover;
	max-width: 80%
}

.bio {
	float: right;
	width: 45%;
	margin-right: 5%
}

.profile-picture {
	float: left;
	width: 50%;
}

.profile-picture img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.repairs-container {
	width: 100%;
	margin: auto;
}

.damage {
	display: inline;
	width: 50%;
	height: 50%;
}

.fix {
	display: inline;
	width: 50%;
	height: 50%;
	align: left;
}

#damage, #fix {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gallery {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

core-scaffold::shadow core-drawer-panel core-header-panel {
	background-image: url("/img/bg.png");
}

core-scaffold::shadow core-drawer-panel>div[vertical] {
	background-image: url("/img/bg.png");
}

core-toolbar{
	background: #000000;
}

core-scaffold{
	background: #616161;
}

core-item.core-selected {
	color: darkred;
}
