#panel {
	text-align: center;
	margin-left: 1vw;
	float: left;
	font-size: 1.3vw;
	width: 18%;
}

img {
	width: 60%;
}

a:link {
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: none;
	color: red;
}

a:active {
	text-decoration: none;
	color: red;
}
